<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/assets/css/style.css}" rel = "stylesheet" />
    <link th:href="@{/assets/css/bootstrap.css}" rel = "stylesheet" />

    <meta charset="UTF-8">
    <title>Your costs</title>
    <div th:replace="header :: header1"></div>
</head>
<body>
<div class="grid">   
    <div class="column scroll-table">
        <h3>Costs table</h3>
        <a th:href="@{/cost}">New cost</a>
        <table>
            <thead>
                <tr>
                    <th>Sum</th>
                    <th>Category</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>	
        <div class="scroll-table-body">
            <table>
                <tbody>
                    <tr th:each = "cost : ${costs}">
                        <td th:text="${cost.amount}"></td>
                        <td th:text="${cost.category}"></td>
                        <td th:text="${date_format.format(cost.date)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>	
    </div>
    <div>
        <div class="column">
            <h3>Diagrams</h3>
            <div>
                <canvas id="debit_chart" class="chart"></canvas>
                <canvas id="credit_chart" class="chart"></canvas>
            </div>
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              
              <script th:inline="javascript">
                const debit_chart = document.getElementById('debit_chart');
                const credit_chart = document.getElementById('credit_chart');


                /*<![CDATA[*/

                const debit_labels = /*[[${debit_labels}]]*/ [];
                const debit_values = /*[[${debit_values}]]*/ [];

                const credit_labels = /*[[${credit_labels}]]*/ [];
                const credit_values = /*[[${credit_values}]]*/ [];

                new Chart(debit_chart, {
                  type: 'pie',
                  radius: 20,
                  data: {
                    labels: Array.from(debit_labels),
                    datasets: [{
                      label: 'Sum: ',
                      data: Array.from(debit_values),
                      borderWidth: 1,
                      radius: "60%",
                      cutout: "60%"
                    }]
                  },
                //   options: {
                //     scales: {
                //       y: {
                //         // beginAtZero: true
                //       }
                //     }
                //   }
                });

                new Chart(credit_chart, {
                  type: 'pie',
                  data: {
                    labels: Array.from(credit_labels),
                    datasets: [{
                      label: 'Sum: ',
                      data: Array.from(credit_values),
                      borderWidth: 1,
                      radius: "60%",
                    }]
                  },
                //   options: {
                //     scales: {
                //       y: {
                //         // beginAtZero: true
                //       }
                //     }
                //   }
                });

                /*]]>*/
              </script>
              
        </div>
    </div>
</div>
</body>
</html>
